@charset "UTF-8";

/* ホバーして白黒変更 */
.img-grayscale {
  transition: 0.4s;
}
.img-grayscale:hover {
  filter: grayscale(1);
}

/* ダークモードで彩度変更 */
@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #dcdcdc;
  }
  .img-darkmode {
    filter: saturate(80%) brightness(50%);
  }
}

/* ============================================

Basicstyle

============================================ */
body {
  padding: 1rem;
}

img {
  display: block;
  width: 600px;
}

h2 {
  margin-top: 3rem;
}
